<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>AddBootstrap</filter-name>
  	<display-name>AddBootstrap</display-name>
  	<description></description>
  	<filter-class>filter.AddBootstrap</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AddBootstrap</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
  	<listener-class>listener.ConnectionLoader</listener-class>
  </listener>
  <servlet>
  	<servlet-name>Select</servlet-name>
  	<display-name>Select</display-name>
  	<description></description>
  	<servlet-class>servlet.Select</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Insert</servlet-name>
  	<display-name>Insert</display-name>
  	<description></description>
  	<servlet-class>servlet.Insert</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Delete</servlet-name>
  	<display-name>Delete</display-name>
  	<description></description>
  	<servlet-class>servlet.Delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update</servlet-name>
  	<display-name>Update</display-name>
  	<description></description>
  	<servlet-class>servlet.Update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDB</servlet-name>
  	<display-name>UpdateDB</display-name>
  	<description></description>
  	<servlet-class>servlet.UpdateDB</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Select</servlet-name>
  	<url-pattern>/servlet-Select</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Insert</servlet-name>
  	<url-pattern>/servlet-Insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Delete</servlet-name>
  	<url-pattern>/servlet-Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update</servlet-name>
  	<url-pattern>/servlet-Update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDB</servlet-name>
  	<url-pattern>/updateData</url-pattern>
  </servlet-mapping>
</web-app>
